<div class="col-xs-12">
    <ul class="timeline">

	<li *ngFor="let transaction of transactions" [class.timeline-inverted]="transaction.betrag < 0" >

	    <div class="timeline-badge" [class.danger]="transaction.betrag < 0" [class.success]="transaction.betrag >= 0"><i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-chevron-right"></i></div>

	    <div class="timeline-panel">

		<div class="timeline-heading">
		    <h4 class="timeline-title">Abgang <span [class.text-danger]="transaction.betrag < 0" [class.text-success]="transaction.betrag >= 0">{{transaction.betrag | currency:"EUR":true:"1.2-2"}}</span> <i class="glyphicon glyphicon-user userThumbnail text-success pull-right"></i></h4>
		    <p><since [creationDate]="transaction.creationDate"></since> <confirmedBadge [isConfirmed]="transaction.bestaetigt"></confirmedBadge></p>
		</div>
		
		<div class="timeline-body">


		    <dl class="dl-horizontal">
			<dt>Benutzer</dt>
			<dd>{{transaction.user}}</dd>
			<dt>Grund</dt>
			<dd>{{transaction.grund}}</dd>

			<div *ngFor="let sonstiges of transaction.sonstiges">
			    <dt>{{sonstiges.label}}</dt>
			    <dd>{{sonstiges.value}}</dd>
			</div>
		    </dl>

		    
		    <hr>
		    <div class="btn-group-sm pull-right">
			<button type="button" class="btn btn-default">Bestätigen <i class="glyphicon glyphicon-thumbs-up"></i></button>
			<button type="button" class="btn btn-default">Ablehnen <i class="glyphicon glyphicon-thumbs-down"></i></button>
			<a href="details.html" class="btn btn-default">Details <i class="glyphicon glyphicon-info-sign"></i></a>
		    </div>
		    
		</div>
		
	    </div>

	</li>


    </ul>

</div>
