<div class="col-xs-8 col-md-push-2">
    <div class="panel panel-default">
	<div class="panel-heading">Aktuelles Saldo für Nutzer: <strong>{{transactionSummary.users}}</strong></div>
	<div class="panel-body">
	    <h3>Saldo: <span class="text-danger">{{transactionSummary.saldo | currency:"EUR":"true" }}</span></h3>
	    <ul>
		<li>Offene Tranksaktionen: {{transactionSummary.openTransactions}}</li>
		<li># Transkationen letzte Woche: {{transactionSummary.transactionsLastWeek}}</li>
	    </ul>
	</div>
    </div>
</div>
